

body {
<<<<<<< HEAD
background-color: #3f492a;


}

#date date {
margin-left: 42.5%;  
font-size: 35px;
font-family: "Roboto Condensed";
background-color: darkgreen;
=======
background-color: #ed8f4b;
width:60%;
position: absolute;
left: 27.5%;
margin-left: -120px;
>>>>>>> b56a18c9bbb12de8ed302f08aad2feb8ba3292cb
}

article, h1 {
  background-color: #FFBA52;
  border-radius: 10px;
 color: #e87b2e;
    font-family: "Raleway", sans-serif;
<<<<<<< HEAD
    font-size: 34px;
    margin-bottom: 20px;
    color : #b5c18d;
=======
    font-size: 18px;
>>>>>>> b56a18c9bbb12de8ed302f08aad2feb8ba3292cb
}

h2 {
  color: #f79956;
    font-family: "Muli", sans-serif;
    font-size: 20px;
<<<<<<< HEAD
    margin-bottom: 20px;
    color: #9baf74;
}

#date article {
    font-family: "Roboto Condensed", sans-serif;
=======
>>>>>>> b56a18c9bbb12de8ed302f08aad2feb8ba3292cb
}

h4 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

article ul {
list-style:none;
}

<<<<<<< HEAD
img{
  width: 50%;
  margin-left: 25%;
}


#wrapper{
background-color: #5c6b42;
//background-color: #02c8a7;
width:70%;
position: absolute;
top:10%;
left: 22.5%;
margin-left: -120px;
padding: 10px;
=======
article a:link{
 font-family: "Muli", sans-serif;
color: darkorange;
  text-decoration: none;
>>>>>>> b56a18c9bbb12de8ed302f08aad2feb8ba3292cb
}

/* visited link */
article a:visited {
    color: #e87b2e;
     text-decoration: none;
}

<<<<<<< HEAD
/* visited link */
a:visited {
    color: #3f492a;
     text-decoration: none;
=======
h1 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    text-align: center;
>>>>>>> b56a18c9bbb12de8ed302f08aad2feb8ba3292cb
}

ul li{
  margin-bottom: 10px;
 } 

h2, h3, ul, p {
  margin-left: 10%;
}

