
body {
    
    background-color: black;
font-family: "Raleway", sans-serif;
    
}

img{
  
    width: 50%;
  margin-left: 25%;
    margin-right: 25%;
}




ul li{ 
    
    list-style: none;
	margin-bottom: 10px;
    
}

 
h1 , ul {
    
    color: white;
    text-align: center;
    
}    
h2 {
color:darkgrey;
    animation-duration: 5s;
  animation-name: slidein; 
    text-align: center;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 30%;
    width: 40%;
  }
    
    
    
}

a {
    
    text-decoration: underline;
    text-decoration: none;
}

a:link {color: #58FAF4;

}
a:visited {color: gray;

}
a:hover {color: red;

}
a:active {color: white;

}

h3{ 
    text-align: center;
   
}

p {
    text-align: center;
    margin-left: 200px;
     margin-right: 200px;
    color: azure;
}
