/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ACTUAL CODE*/


    body {

       background-color: black;
			 text-align: center;
		}

    a {
     text-color:black;
		}
		article {

    font-family: 'Yanone Kaffeesatz', sans-serif;
		width: 30%;
		text-align: center;
		color:black;
    background-color: black;
		padding: 4%;
		margin: 0 30%;
		}

		article:hover,a {color:white;}

		h2 h3 h1 {
			font-family: 'Concert One', cursive;

	    color:black;
		}

    h2 {font-size: 150%}

		h2 h3 h1:hover {color:white}

		body {
    font-family: 'Concert One', cursive;
		margin: 0 auto;
		text-align:center;
		}

		ul li {

    display: block;

		}

		img{
    margin:0 auto;
		padding: 10px;
    width: 10vw;
		height: auto;
		border-radius: 15px;
		float:left;
		-webkit-transition: width 1s; /* Safari */
    transition: width 1s;
		display: none;

		}

		img:hover {
			width: 40vw;
			height: auto;
      display:none;

		}

		/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}
