body{

	background-color:#F6FBFF; 

}

h1{

font-family: 'Abel', sans-serif;
font-size : 60px;
padding-left:30px;

}

h2{

font-family: 'Abel', sans-serif;
font-size : 30px;

}

h3{

font-family: 'Roboto', sans-serif;
font-size : 18px;
text-decoration:none; 


}

p{

font-family: 'Roboto', sans-serif;
font-size : 14px;
margin:50px;
text-align: justify;

}


li{

font-family: 'Abel', sans-serif;
font-size : 14px;


}

img{

	width: 40%; 
	height: 40%; 
	
}



a:link {

color: #64B1F1;
text-decoration: none;

}

a:hover {

color: #3376AE;
text-decoration: none;

}

article{
	
	padding:5px;
	margin: 30px;
	padding-left:100px;
	background-color:#E0EFFC;
}
