@font-face {
    font-family: 'timesb';
    src: url('fonts/timesb/Hershey-Noailles-timesb.eot'); /* IE 9 Compatibility Mode */
    src: url('fonts/timesb/Hershey-Noailles-timesb.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	 url('fonts/timesb/Hershey-Noailles-timesb.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	 url('fonts/timesb/Hershey-Noailles-timesb.ttf') format('truetype'), /* Safari, Android, iOS */
	 url('fonts/timesb/Hershey-Noailles-timesb.svg#LiberationMono-BoldItalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

nav{
  font-family: 'timesb';
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  background: white;
  color: red;
  border-top: 1px solid;
  font-size: 12px;
  box-shadow: 0px 40px 100px;
}

nav ul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul li{
  list-style: none;
  display: inline-block;
  width: auto;
  text-align: center;
  flex-grow: 1;
  text-transform: capitalize;
  padding-top: 3px;
}

nav ul li h2{
  font-size: 12px;
  margin: 0;
  text-transform: initial;
  padding: 0;
}

nav ul li:hover{
  background: white;
  cursor: pointer;
  color: black;
}

nav ul li:nth-of-type(1):hover{
  color: red;
  cursor: initial;
}