body {
	background:#121212;
	font:1em Trebuchet MS;
	word-spacing:2px;
	color:#545454;
	margin:0;
}

* {
	margin:0;
	padding:0;
}

a {
	color:#999;
	border-bottom:1px dotted #232323;
	text-decoration:none;
	padding:2px 4px 2px 4px;
}
a:hover {
	border-bottom:1px dotted #99CC33;
	background:#101010;
}

h1 {
    font:36px Arial, sans-serif;
	color:#99CC33;
	letter-spacing:-1px;
	font-weight:normal;
	margin:15px 0 15px 0;
}

h2 {
	font:24px Arial, sans-serif;
	color:#99CC33;
	letter-spacing:-1px;
	font-weight:normal;
	margin:15px 0 15px 0;
}

h2 a:hover {
	border:none;
	background:none;
}
h3 {
	font-size:1.2em;
	color:#ccc;
	font-weight:normal;
	margin:15px 0 15px 0;
}
p {
	line-height:24px;
	margin:25px 0 25px 0;
}

img {
    border-radius: 8px;
    max-width: 100%;
    height: auto
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

article{
     width: 3000px;

    border: 1px solid grey;
    box-sizing: border-box;
}







