body {
font-family: "Raleway", sans-serif;
}   
}
#return a:link{
     color: #f44330;

    text-decoration: none;
}

#return a:visited{
   color: gainsboro;

    text-decoration: none;
}

ul {
font-family: "Raleway", sans-serif;
}

ul li{  
list-style:none;
	margin-bottom: 10px;
}

img{
  width: 50%;
  margin-left: 25%;
}


#wrapper{
background-color: #f44330;
    color: white;
}

#article {
  margin-right: 10%;
  margin-left: 10%;
}

 /* unvisited link */
#wrapper a:link {
    color: black;
     text-decoration: none;
}

/* visited link */
#wrapper a:visited {
    color: palevioletred;
     text-decoration: none;
}

/* mouse over link */
#wrapper a:hover {
    color: brown;
     text-decoration: none;
}



