body{
font-family: verdana;
background-color: #B5B2BD ;
}
h1{
	font-weight: bold;
  font-size: 35px;
	margin-left:9px;
}
h2{
  margin-left: 12px;
	font-size: 25px;
  text-decoration: underline;


}
h3{
	font-size:15px;
      font-style: italic;
margin-left: 15px;
}

ul li{
	font-size: 15px;
width: 250px;
line-height: 30px;
border:1px;
border-style:solid;
text-align: center;
background-color:#B5B2BD;
}
p{
	font-size: 15px;
  font-family: arial;
  margin-left:8px;
  text-align: center;
	margin-bottom: 10px

}
article{
	font-size: 15px;
display:block;
background-color:#535257;
background-size: 50%
}
img{
  height: 500px;
  width:auto;
  margin: auto;
  display: block;

}
