body{
  font-family: 'timesb';
  color: #634209;
}

h1{
  transform: rotate(89deg);
  transform-origin: left top;
  position: fixed;
  left: 35px;
}

article{
  margin-left: 50px;
}

article ul,
article p{
  display: none;
  transition: display 1s;
}

article:hover ul,
article:hover p{
  display: inline;
}

article h2,
article h3{
  display: inline;
}

article h3:before{
  content: '→';
}

article h3 a{
  background-image: linear-gradient(#15b965, #4d20e8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a[title="Permalink"]{
  display: none;
}
