
body{
  background-color: #efefef;

}
li{
  font-family: "Barlow Semi Condensed", sans-serif;
}
h1{text-align: center;
  font-size: 80px;
    font-family: "Oswald", sans-serif;
    background-color: #181a5e;
    color:#efefef;
    margin-top: auto;
    height: 150px;

}
li{
  list-style-type: none;
  text-align: center;

}
h2{
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  margin-left: 40px;
}
img{
  width: 50%;
  margin-left: 25%;
  margin-top: 30px;


}
p{text-align: center;
  padding-top: 40px;
  margin-left: 25%;
  margin-right:25%;
  text-align: justify;

}
h3{
  text-decoration: none;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
a:link {
    color: black;
     text-decoration: none;
}
a:hover {
    color: #4b4c82;
     text-decoration: none;
}
