
body {
    
    background-color: black;
font-family: "Raleway", sans-serif;
    
}

img{
  
    width: 50%;
  margin-left: 25%;
    margin-right: 25%;
}




ul li{ 
    
    list-style: none;
	margin-bottom: 10px;
    
}

 
h1 , h2 , ul {
    
    color: white;
    text-align: center;
    
}

h3 {
    
    text-decoration: underline;
    color: red;
    text-align: center;
   
}

p {
    text-align: center;
    margin-left: 200px;
     margin-right: 200px;
    color: azure;
}

#wrapper a:link {
    
     text-decoration: none;
}

#wrapper a:visited {
    color: palevioletred;
     text-decoration: none;
}

#wrapper a:hover {
    color: brown;
     text-decoration: none;
}

