@font-face {
  font-face : 'typo';
  src('url de la typo')
}

body {
  background-color: grey;
}

article {
  background-color: white;
  padding : 40px;
  float: left;
  width: 220px;
  margin-left: 5px;
  border-radius: 10px;
  border-style: solid;
}

img {
  height: 400px;
  width: 800px;
}


/** Typo **/
h1 {
  font-size: 50px;
  padding : 20px 20px 20px 20px;
}

h2 {
  font-size: 22px;
  padding-bottom: 15px;
}

h3 {
  padding-bottom: 15px;
  font-style: italic;
  font-size: 15px;
}

/**link**/
a:link {color: black;}
a:visited {color: gray;}
a:hover {color: red;}
a:active {color: red;}
