/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*_______________________________________________________________________/*ACTUAL CODE*/____________________________________________________________________*/

#body {

    overflow-x:hidden; 
	width:960px;
	height:3500px;

}

/*-----------------------------------------------------------------------------NAV--------------------------------------------------------------------------*/
#header {
position:sticky;
z-index: 1;
min-height: 80px;
height: 80px;

background-color:#000;
border-bottom: solid 1px white;
top:0;
}

.nav {	
	position: relative;
	height:80px;
    
}

.nav ul li {  
   text-align:center;
   font-family: 'Raleway', sans-serif;
   padding:10px 20px;
   float:right;
   margin: 25px 10px 10px 10px;
}

.nav ul li a {
    color:#fff;
	text-decoration: none;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.nav ul li a:hover {
    color:#666;
	text-decoration: none;
}

.logo {    
    margin:5px;
    margin-left: 20px;
    width:134px;
    height:70px;
    overflow: hidden;
    float:left;
}

.logo:hover {    
    cursor: pointer;
}





/*-----------------------------------------------------------------------------SECTIONS--------------------------------------------------------------------------*/


.section {
	background-color: #000;
    background-image: no-repeat;
    background-position: center top;
    background-size: cover;
	height:680px;
	
	padding:100px 50px 100px 50px;

	text-align:center;
	color:#fff;
	
    font-family: 'Raleway', sans-serif;
    overflow:hidden;
    z-index: -1;
}

#section1  {
	background-image: url("../img/7LLN2016/LLN2016(3).jpg");
	font-size:50px;
	text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

#section1 #testimonials  {
	margin-top: 340px;
}

#section2 {

font-size: 50px;
padding-top: 0px;
line-height: 5;


}

#comingEvents {

height:auto;
line-height: 3;
font-size: 20px;
}



#comingEvents a {
color:#fff;
text-decoration: none;
}

#comingEvents a:hover {
color:#666;
text-decoration: none;
}

#vid_cont {
    
	margin:0 auto;
	display:flex;
}


#section3 .video {
 margin:100px 10px 0px 10px;


}

#section4 #socialContainer{

margin:200px auto;


}

.social {
width:100px;
height:auto;
-moz-transition: width 1s;
-webkit-transition: width 1s;
transition: width 1s;

margin:0 20px 0 20px; 

}

.social:hover {

   width:200px;

}

#section5 #bio{
line-height: 2;
font-size: 20px;
width:740px;
margin:80px auto ;

}











